body,
html {
  font-size: 12px;
  color: #1D2129;
  padding: 0;
  margin: 0;
}
.btn {
  cursor: pointer;
  padding: 9px 15px;
  border-radius: 2px;
  color: #fff;
  background-color: #2168FF;
  display: inline-block;
}
.flex {
  display: flex;
}
.flexalignCenter {
  align-items: center;
}
.flexalignEnd {
  align-items: flex-end;
}
.flexalignStart {
  align-items: flex-start;
}
.flexalignBetween {
  flex-direction: column;
  justify-content: space-between;
}
.flexAround {
  justify-content: space-around;
}
.flexBetween {
  justify-content: space-between;
}
.flexEnd {
  justify-content: flex-end;
}
.flexjustifyCenter {
  justify-content: center;
}
.flexwarp {
  flex-wrap: wrap;
}
.line_ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.line2_ellipsis {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contentCenter {
  width: 1200px;
  margin: 0 auto;
}
.warpTitleBox {
  text-align: center;
  padding: 44px 0;
}
.warpTitleBox h2 {
  font-size: 28px;
  font-weight: bold;
}
.warpTitleBox h2:has(+ .desc) {
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .contentCenter {
    width: calc(100% - 16px) !important;
    margin: 0 auto !important;
    overflow: hidden !important;
  }
  .warpTitleBox {
    padding: 24px !important;
  }
  .warpTitleBox h2 {
    font-size: 24px !important;
  }
}
@media (max-width: 1200px) {
  .banner {
    width: 100% !important;
    min-width: 100% !important;
    background: #E2E8F0 !important;
    padding-top: 26px;
  }
  .banner .line {
    display: none;
  }
  .banner .innerBox {
    width: calc(100% - 16px) !important;
    margin: 0 auto !important;
    overflow: hidden !important;
    overflow: hidden;
    display: block;
  }
  .banner .innerBox .left {
    text-align: center;
    margin-right: 0 !important;
    position: relative;
    z-index: 2;
    width: auto !important;
  }
  .banner .innerBox .left .title {
    font-size: 20px;
    line-height: 28px;
    margin-top: 10rem;
  }
  .banner .innerBox .left .desc {
    line-height: 180%;
    white-space: break-spaces;
    margin-top: 5rem;
  }
  .banner .innerBox img {
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
    top: -80px;
  }
}
.warpTitleBox h2 {
  margin: 0;
}
.interfaceBox .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.interfaceBox .content .item {
  border-radius: 2px;
  padding: 24px;
  width: 276px;
  height: 292px;
  background-color: linear-gradient(180deg, #F6F9FF 0%, #E8F1FF 100%);
  box-sizing: border-box;
}
.interfaceBox .content .item:nth-child(1) {
  background: url('@assets/images/openPlatform/1.png') no-repeat bottom left, linear-gradient(180deg, #F6F9FF 0%, #E8F1FF 100%);
}
.interfaceBox .content .item:nth-child(2) {
  background: url('@assets/images/openPlatform/2.png') no-repeat bottom left, linear-gradient(180deg, #F6F9FF 0%, #E8F1FF 100%);
}
.interfaceBox .content .item:nth-child(3) {
  background: url('@assets/images/openPlatform/3.png') no-repeat bottom left, linear-gradient(180deg, #F6F9FF 0%, #E8F1FF 100%);
}
.interfaceBox .content .item:nth-child(4) {
  background: url('@assets/images/openPlatform/4.png') no-repeat bottom left, linear-gradient(180deg, #F6F9FF 0%, #E8F1FF 100%);
}
.interfaceBox .content .item .title {
  color: #1D2129;
  font-size: 20px;
  font-weight: bold;
}
.interfaceBox .content .item ul {
  padding: 0;
  margin: 0;
  margin-left: 24px;
}
.interfaceBox .content .item ul li::marker {
  content: counter(list-item) "ã€";
}
.interfaceBox .content .item ul li {
  list-style: none;
  font-size: 14px;
  line-height: 180%;
}
.banner {
  width: 100%;
  min-width: 1200px;
  height: 440px;
  background: linear-gradient(90deg, #F4F8FF 0%, #E0E6EF 47.77%, #DFE6EE 80.58%, #DEE6EE 100%);
}
.banner .innerBox {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
}
.banner img {
  width: 440px;
  height: 100%;
  object-fit: contain;
}
.banner .left {
  margin-right: 120px;
}
.banner .title {
  color: #1d2129;
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}
.banner .line {
  width: 61px;
  height: 3px;
  margin: 24px 0;
}
.banner .desc {
  font-size: 18px;
  margin-top: 24px;
  color: #4e5969;
}
.sceneBox .main {
  border-radius: 2px;
  background: linear-gradient(180deg, #F6F9FF 0%, #E8F1FF 100%);
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sceneBox .main .left {
  width: 37%;
}
.sceneBox .main .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}
.sceneBox .main .right > * {
  background: #F6FAFF;
  padding: 12px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 16px;
}
