@import '@assets/main.less';


@media(max-width: 1200px) {
    .banner{
        img{
            width: 100%;
        }
    }
    .contactUs {
        .content {
            .contactInformation {
                flex-direction: column;

                .item {
                    width: 100% !important;
                    margin-bottom: 16rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

            }

            .map {
                margin: 16rem 0 !important;

                img {
                    width: 100%;
                }
            }
        }
    }

    .data {
        flex-wrap: wrap;

        .item {
            width: 48%;

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 16rem;
            }

            .num {
                font-size: 24rem !important;
            }
        }
    }

    .contentMain {
        background: none !important;
        margin-top: 0 !important;
        padding-bottom: 0 !important;

        .contentCenter {
            .desc {
                .textBox {
                    background: url('@assets/images/about/mobileBG.png');

                    .title {
                        display: none;
                    }

                    .text {
                        color: @c4e;
                    }
                }

                &>img {
                    display: none;
                }
            }
        }
    }

}


.contactUs {
    background: linear-gradient(180deg, #F5FAFF 0%, #FFFFFF 100%);
    .contentCenter {
        overflow: hidden;
    }

    h2 {
        text-align: center;
        color: @text-color-primary;
    }

    .content {
        .map {
            margin: 24px 0 48px 0;
        }

        .contactInformation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item {
                background: url('@assets/images/about/elbg.png') no-repeat bottom right, linear-gradient(180deg, #EBF3FF 0%, #F3F8FF 100%);
                background-size: 30%;
                @iconw: 44px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 24px;
                width: 30%;
                box-sizing: border-box;

                .textBox {
                    flex: 1;

                    p {
                        margin: 0;
                        margin-bottom: 8px;
                        font-weight: bold;
                    }

                    .info {
                        color: @text-color-regular;
                    }
                }

                .icon {
                    width: @iconw;
                    height: @iconw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border-radius: @iconw;
                    margin-right: 16px;
                }
            }
        }

    }
}


.banner {
    width: 100%;
    position: relative;
    height: auto;
    .bgImg{
        width: 100%;
        height: auto;
    }
    .lightImg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
    }
}

.contentMain {
    background: url('@assets/images/about/contentBGIMg.png') right bottom no-repeat;
    padding-bottom: 46px;

    .data {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding-top: 46px;

        p {
            margin: 0;
        }

        .num {
            color: @blue;
            font-size: @firstLevel;
            font-weight: bold;
            margin-bottom: 8px;
        }
    }

    .desc {
        display: flex;
        align-items: stretch;
        justify-content: center;

    }

    .textBox {
        // background: url('@assets/images/about/strIcon.svg') no-repeat left 40%, @blue;
        word-wrap: break-word;
        font-size: @fourthLevel;
        .title {
            font-size: @secondLevel;
            padding-bottom: 20px;
            margin-top: 0;
            text-align: center;
        }

        .text {
            line-height: 160%;

            p {
                text-indent: 2em;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}